*.weights filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
ch7_face_morphing/shape_predictor_68_face_landmarks.dat filter=lfs diff=lfs merge=lfs -text
